@using ESRGC.DLLR.EARN.Helpers
@using ESRGC.DLLR.EARN.Models
@model ResetPasswordModel

@{
    ViewBag.Title = "Account";
    ViewBag.Header = "Forgot Password";
}
@section header{
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="fa fa-key"></i></h3>
            @*<ul class="breadcrumb">
                <li><a href="@Url.Action("index", "Home")">Home</a></li>
                <li class="active">@ViewBag.Header</li>
            </ul>*@
        </header>
    </div>
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval-unobtrusive");
}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="window-panel">
                <div class="window-panel-title">
                    <strong>Forgot Password</strong>
                </div>
                <div class="window-panel-content">
                    <p>
                        Please enter your account email address you used to sign up for EARN MD CONNECT below and click send. 
                        A temporary password will be emailed to you at the email address you enter.
                    </p>
                    <form class="form-horizontal" action="@Url.Action("ForgotPassword")" method="post">
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-2">
                                @Html.ValidationSummary()
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="Email">Email address</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control input-sm", placeholder = "Account email address", type="Email" })
                                <span class="label label-default">Required</span>
                                <div class="help-block">@Html.ValidationMessageFor(x => x.Email)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Send</button>
                                <a class="btn btn-default" href="@Url.Action("Index", "Home")">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
