@model ESRGC.DLLR.EARN.Models.SignUpModel
@{
    ViewBag.Title = "Sign Up";
    ViewBag.Header = "Sign up";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval-unobtrusive")
    <script type="text/javascript">
        var startup = function () {
            $(document).on('click', '#agreeTDChbox', function () {
                if ($(this).is(':checked'))
                    $('#proceedBtn').removeAttr('disabled');
                else
                    $('#proceedBtn').attr('disabled', 'disabled');
            });
        };
    </script>
}

@section header {
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="fa fa-edit"></i></h3>
            @* <ul class="breadcrumb">
                <li><a href="@Url.Action("index", "Home")">Home</a></li>
                <li class="active">@ViewBag.Header</li>
            </ul>*@
        </header>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="window-panel">
                <div class="window-panel-title">
                    <strong><i class="fa fa-user"></i>&nbsp;New member</strong>
                </div>
                <div class="window-panel-content">
                    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <p class="text-info">
                                    Please fill in the form below to sign up. Note that 
                                    you must accept our terms and conditions before proccedding.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email", type = "email" })
                                <span class="label label-default">Required</span>
                                <span class="help-block">
                                    @Html.ValidationMessageFor(x => x.Email)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-6">
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                                <span class="label label-default">Required</span>
                                <span class="help-block">@Html.ValidationMessageFor(x => x.Password)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="col-md-3 control-label">Confirm password</label>
                            <div class="col-md-6">
                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm your password" })
                                <span class="label label-default">Required</span>
                                <span class="help-block">@Html.ValidationMessageFor(x => x.ConfirmPassword)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">                                
                                <hr />
                                <div class="term-condition-container">
                                    <h4 class="text-center">Terms and Conditions</h4>
                                    @Html.Partial("termTextPartial")
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="agreed" id="agreeTDChbox" />
                                            <strong>I agree to the terms and conditions for "EARN MD CONNECT"</strong>
                                        </label>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button class="btn btn-primary" id="proceedBtn" disabled type="submit">
                                    Sign up
                                </button>
                                <a class="btn btn-default" href="@Url.Action("Index", "Home")">Cancel</a>
                                <span><a href="@Url.Action("SignIn")">Already a member? Sign In</a></span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
