@using ESRGC.DLLR.EARN.Domain.Model
@model Partnership

@{
    ViewBag.Title = "Partnership";
    ViewBag.Header = "Edit Partnership";
}

@section header{
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="glyphicon glyphicon-link"></i></h3>
            @*<ul class="breadcrumb">
                <li><a href="@Url.Action("index", "Home")">Home</a></li>
                <li class="active">@ViewBag.Header</li>
            </ul>*@
        </header>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval-unobtrusive")  
}

@{
    var currentProfile = ViewBag.currentProfile as Profile ?? new Profile();
    var grantStatusList = Html.getGrantStatusList();
    var statusList = Html.getPartnershipStatusList();

    var canDelete = currentProfile.canEditPartnership(Model);
}

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="window-panel">
                <div class="window-panel-title">
                    <strong>@Model.Name</strong>
                    @if (canDelete) { 
                        <a title="Delete this partnership" href="#" class="pull-right text-danger">
                            <i class="fa fa-times-circle"></i>&nbsp;Delete this partnership
                        </a>
                    }
                </div>
                <div class="window-panel-content">
                    <form class="form-horizontal" method="post" action="@Url.Action("Edit")" role="form">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(x => x.PartnershipID)
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Name">Name</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Name,
                                new {
                                    @class = "form-control input-sm",
                                    placeholder = "Partnership name"
                                })
                                <span class="label label-default">Required</span>
                                <div class="help-block">@Html.ValidationMessageFor(x => x.Name)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Status">Status</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.Status,
                                new SelectList(statusList),
                                new {
                                    @class = "form-control input-sm",
                                    placeholder = "Status"
                                })
                                <span class="label label-default">Required</span>
                                <div class="help-block">@Html.ValidationMessageFor(x => x.Status)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="GrantStatus">Grant status</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.GrantStatus,
                                new SelectList(grantStatusList),
                                new {
                                    @class = "form-control input-sm",
                                    placeholder = "Awarded, Pending...ect."
                                })
                                <span class="label label-default">Required</span>
                                <div class="help-block">@Html.ValidationMessageFor(x => x.GrantStatus)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Description">Description</label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(x => x.Description,
                                new {
                                    @class = "form-control input-sm",
                                    placeholder = "Briefly describe this partnership",
                                    style = "min-height: 150px"
                                })
                                <span class="label label-default">Required</span>
                                <div class="help-block">@Html.ValidationMessageFor(x => x.Description)</div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input class="btn btn-primary" type="submit" value="Submit" />
                                <a class="btn btn-default" href="@Url.Action("Detail", new { Model.PartnershipID })">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

