@using ESRGC.DLLR.EARN.Domain.Model
@model List<Partnership>

@{
    var currentProfile = ViewBag.currentProfile as Profile ?? new Profile();
    var returnUrl = ViewBag.returnUrl as string;
}
<ul class="list-group">
    @foreach (var p in Model) {
        var partners = p.PartnershipDetails.Count();
        var canEdit = currentProfile.isOwnerOfPartnership(p);
        
        <li class="list-group-item">
            <small class="pull-right">Last edited: @Html.TimeSpan(p.LastUpdate)</small>
            @if (canEdit) { 
                <a href="@Url.Action("Detail", "Partnership", new { p.PartnershipID , returnUrl})">
                    <strong>@p.Name</strong>
                </a>
            }
            else {
                <a href="@Url.Action("View", "Partnership", new { p.PartnershipID , returnUrl})">
                    <strong>@p.Name</strong>
                </a>
            }
            @switch (p.Status) {
                case "Initiating":
                <span class="text-danger">(@p.Status)</span>
                    break;
                case "Partnering/drafting proposal":
                <span class="text-warning">(@p.Status)</span>
                    break;
                case "Partnered/proposed":
                <span class="text-success">(@p.Status)</span>
                    break;
            }
            @if (canEdit) { 
                <a href="@Url.Action("Edit", new { p.PartnershipID })"><i class="fa fa-pencil"></i></a>
            }
            <p class="text-muted">@p.Description</p>
            <span>Grant </span>
            @switch (p.GrantStatus) {
                case "Pre-draft":
                <span class="text-danger"><i class="fa fa-minus-circle"></i>&nbsp;@p.GrantStatus</span>
                    break;
                case "Drafting":
                <span class="text-warning"><i class="fa fa-pencil"></i>&nbsp;@p.GrantStatus</span>
                    break;
                case "Submitted":
                <span class="text-info"><i class="fa fa-check"></i>&nbsp;@p.GrantStatus</span>
                    break;
                case "Awarded":
                <span class="text-success"><i class="fa fa-check-circle"></i>&nbsp;@p.GrantStatus</span>
                    break;
            }
            <span class="badge">Participants @partners</span>
        </li>
        
    }
</ul>
