@using ESRGC.DLLR.EARN.Domain.Model
@model Partnership

@{
    ViewBag.Title = "Partnership";
    ViewBag.Header = "View Partnership";
}

@section header{
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="glyphicon glyphicon-link"></i></h3>
            @*<ul class="breadcrumb">
                <li><a href="@Url.Action("index", "Home")">Home</a></li>
                <li class="active">@ViewBag.Header</li>
            </ul>*@
        </header>
    </div>
}

@section scripts{}

@{ 
    var p = Model;
    var partners = p.getPartners();
    var owner = p.getOwner();
    var currentProfile = ViewBag.currentProfile as Profile ?? new Profile();
    var account = currentProfile.getAccount();
    var requested = account
        .SentRequests
        .Cast<PartnershipRequest>()
        .Select(x => x.PartnershipID)
        .Contains(Model.PartnershipID);

    var returnUrl = ViewBag.returnUrl as string ?? "";
    ViewBag.returnUrl = Url.Action("View", new { p.PartnershipID, returnUrl });
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel-action-default">
                @if (returnUrl != "") { 
                    <a href="@returnUrl"><i class="fa fa-long-arrow-left"></i>&nbsp;Back to previous</a>
                }
                <small class="pull-right">Last edited: @Html.TimeSpan(p.LastUpdate)</small>
            </div>

            <div class="window-panel">
                <div class="window-panel-title">
                    <strong>@p.Name</strong>
                </div>
                <div class="window-panel-content">
                    <p class=""><strong>Description</strong> @p.Description</p>
                    <p>
                        Status: @Html.Partial("partnershipStatusPartial", p)
                    </p>
                    <div class="placeholder-panel">
                        @Html.Partial("tagListDisplayPartial", p.getTagNames())
                    </div>
                    <hr />
                    <div class="pull-left">
                        <a class="btn btn-default" href="@Url.Action("ContactAdmin", new { p.PartnershipID , returnUrl })">
                            <i class="fa fa-envelope"></i>&nbsp;Contact
                        </a>
                    </div>
                    <div class="btn-group pull-right">
                        @if (currentProfile.isNewToPartnership(Model.PartnershipID)) {
                            if ((!requested)) {
                            <a href="@Url.Action("SendPartnershipRequest", "Communication", new { Model.PartnershipID, returnUrl })" 
                                class="btn btn-primary btn-sm" title="Request to join this partnership">
                                <i class="fa fa-share"></i>&nbsp;Request to join
                            </a>
                            }
                            else {
                            <button disabled class="btn btn-default btn-sm" title="Request to join this partnership">
                                <i class="fa fa-share"></i>&nbsp;Join request sent
                            </button>
                            <p class="text-center">Waiting for approval</p>
                            }
                        }
                        else {
                            if (currentProfile.isOwnerOfPartnership(Model.PartnershipID)) { 
                            <span class="label label-danger">Admin</span>
                            }
                            else {
                            <span class="label label-success"><i class="fa fa-check"></i>&nbsp;Partnered</span>
                            }
                        }
                        @* @if (!currentProfile.isOwnerOfPartnership(Model.PartnershipID)) {
                            <button type="button" class="btn btn-default btn-sm" title="Bookmark this partnership"><i class="fa fa-bookmark"></i>&nbsp;Bookmark</button>
                        }*@
                    </div>
                    <div class="clear"></div>
                    @*<div class="profile-tabs">
                        <ul class="nav nav-tabs ">
                            <li class="active"><a href="#partners" data-toggle="tab">Partners</a></li>
                            <li><a href="#documents" data-toggle="tab">Documents&nbsp;<span class="badge"></span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="partners">
                                <div class="placeholder-pane">
                                    <div class="profile-container-holder">
                                        <span class="label label-danger">Owner</span>
                                        @Html.Partial("shortProfilePartial", owner)
                                        <hr />
                                    </div>
                                    <strong>Other Partners</strong>
                                    @foreach (var profile in partners) { 
                                        <div class="placeholder-panel">
                                            @Html.Partial("shortProfilePartial", profile)
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane" id="documents">
                                <div class="placeholder-pane">
                                    <p>Comming soon...</p>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>


