@using ESRGC.DLLR.EARN.Domain.Model
@model Partnership

@{
    ViewBag.Title = "Request";
    ViewBag.Header = "Partnership Invite";
}

@section header{
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="glyphicon glyphicon-link"></i></h3>
            @*<ul class="breadcrumb">
                <li><a href="@Url.Action("index", "Home")">Home</a></li>
                <li class="active">@ViewBag.Header</li>
            </ul>*@
        </header>
    </div>
}

@section scripts{}

@*<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel-action-default">
                <a href="@Url.Action("View", "Partnership", new { Model.PartnershipID })"><i class="fa fa-long-arrow-left"></i>&nbsp;Back to partnership</a>
            </div>
            <div class="window-panel">
                <div class="window-panel-title">
                    <strong>@Model.Name</strong>
                </div>
                <div class="window-panel-content">
                    <p class=""><strong>Description</strong> @Model.Description</p>
                    <p>
                        <strong>Status</strong>
                        @Html.Partial("partnershipStatusPartial", Model)
                    </p>                    
                    <div class="alert alert-info">
                        <h4>Comfirm Sending Request</h4>
                        <p>
                            You are requesting to join this partnership.
                            Your request will be sent to the owner of the partnership to
                            review. This request is subject to approval. 
                        </p>
                        <div class="panel-action-default">
                            <form class="form-horizontal" action="@Url.Action("SendPartnershipRequest")" method="post" role="form">
                                @Html.HiddenFor(x=>x.PartnershipID)
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="message">Message</label>
                                    <div class="col-md-8">
                                        @Html.TextArea("message", new {
                                            @class = "form-control",
                                            placeholder = "Type your message"
                                        })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-2">
                                        <input class="btn btn-primary" value="Send" type="submit" />
                                        <a class="btn btn-default" href="@Url.Action("Detail", "Partnership", new { Model.PartnershipID })">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


