@using ActionMailer.Net.Mvc
@model ESRGC.DLLR.EARN.Domain.Model.Notification

@{
    Layout = null;
}
<h4>EARN MD CONNECT</h4>

<strong>@Model.Category</strong> on @Model.Created

<p>
    @Model.Message
</p>
<i>
    @Model.Message2
</i>

<p>
    Please follow the link below to view this notification on EARN MD CONNECT site (Sign in required).
    <br />
    <a href="@Url.AbsoluteAction("ViewNotification", "Communication", new { Model.NotificationID })">Click here</a>
</p>
<br />
<small>
    This is an automatic email notification. Please do not reply to this message. 
    <a href="mailto://earn.jobs@maryland.gov?cc=esrgc@salisbury.edu">Contact EARN MD CONNECT</a> 
    if you have any question.
</small>

