@model ESRGC.DLLR.EARN.Models.DashboardStatistic
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Header = "Dashboard";
}

@section header{
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="fa fa-dashboard"></i></h3>           
        </header>
    </div>
}
@{
    ViewBag.returnUrl = Url.Action("Index");   
}

<div class="container">
    <div class="row info-container">
        <div class="col-md-12">
            <h4>Statistics</h4>
            <div class="placeholder-panel">
                <div class="post">
                    <div class="list-container">
                        <ul class="list-unstyled">
                            <li>Accounts <span class="pull-right">@Model.AccountTotal</span></li>
                            <li>Profiles <span class="pull-right">@Model.ProfileTotal</span></li>
                            <li>Contacts <span class="pull-right">@Model.ContactTotal</span></li>
                            <li>Organizations <span class="pull-right">@Model.OrganizationTotal</span></li>
                            <li>Partnerships <span class="pull-right">@Model.Partnerships.Count()</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row info-container">
        <div class="col-md-12">
            <h4>Accounts</h4>
            <div class="placeholder-panel">
                <div class="post">
                    <ul class="list-unstyled list-inline">
                        @foreach (var account in Model.Accounts) {
                            if (account.EmailVerified) { 
                                <li><span class="label label-success">@account.EmailAddress</span></li>
                            }
                            else{
                                <li><span class="label label-default">@account.EmailAddress</span></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row info-container">
        <div class="col-md-6">
            <h4>Profiles</h4>
            <div class="placeholder-panel">
                <div class="">
                    <ul class="list-group">
                        @foreach (var profile in Model.Profiles) { 
                            <li class="list-group-item">
                                @Html.Partial("miniProfilePartial", profile)
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Partnerships</h4>
            <div class="placeholder-panel">
                <div class="">
                    <ul class="list-group">
                        @foreach (var p in Model.Partnerships) {
                            <li class="list-group-item">
                                @Html.Partial("partnershipPartial", p)
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
