<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="@Url.Content("~/favicon.ico")" rel="Icon" />
    <title>EARN MD CONNECT - @ViewBag.Title</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    @Styles.Render("~/Styles/css")
    <!--Custom page CSS or extra javascript goes here-->
    @RenderSection("headContent", required: false)

    <!--[if lte IE 8]> 
        <script src="@Url.Content("~/Client/jsLib/response/respond.min.js")"></script>
    <![endif]-->
</head>
<body lang="en">
    <div class="wrapper">
        <!--nav bar-->
        @Html.Partial("navBar")
        <!--Page content-->
        <div id="pageContent">
            <!--Logo-->
            @*<img src="@Url.Content("~/Content/images/MSGIC-logo.jpg")" class="site-logo" />*@
            <!--Header-->
            @RenderSection("header", required: false)
            <div id="cookieWarning" class="alert alert-warning hidden-content">
                <h4>Cookies are not enabled</h4>
                <p>
                    This web site uses cookies to track your account information.
                            If you are experiencing problems with signing in to the site,
                            please enable cookies in your browser before signing in. This
                            message will go away if cookies are enabled in your browser.
                </p>
            </div>
            <section class="body-content">
                @Html.Partial("messagePartial")
                @RenderBody()
            </section>
        </div>
        <div class="push">
        </div>
    </div>
    <div class="footer text-center" id="footer">
        @*@RenderSection("footer", required: false)*@
        <a href="http://esrgc.org" target="_blank">
            <img class="site-logo" src="@Url.Content("~/Client/images/esrgc.png")" alt=""/></a>
        @*<a  href="http://www.gov.state.md.us/" target="_blank"><img class="site-logo" src="@Url.Content("~/client/images/MDlogo.gif")" alt=""/></a>*@
        <a href="http://www.dllr.maryland.gov/earn" target="_blank">
            <img class="site-logo" src="@Url.Content("~/client/images/EARN_logo_200w.jpg")" alt=""/></a>
        <a href="http://www.salisbury.edu/" target="_blank">
            <img class="site-logo" src="@Url.Content("~/client/images/SalisburyUniversity.jpg")" alt=""/></a>
    </div>

    @Scripts.Render("~/bundles/jsLibs")
    @RenderSection("scripts", required: false)
    <!--Start up code-->
    <script type="text/javascript">
        $(function () {
            //hilight current url
            var url = window.location;
            $('.navbar a').filter(function () {
                return this.href == url;
            }).parent().addClass('active');
            //tooltip for nav bar
            $('.navbar a').tooltip({
                toggle: "tooltip",
                placement: "bottom",
                container: 'body'
            });
            $('.container a').tooltip({
                toggle: 'tooltip',
                placement: 'right',
                container: 'body'
            });
            $('.navbar a#notifications').popover({
                placement: "bottom",
                container: 'body',
                html: true,
                content: function () {
                    return $('.hidden-content').html();
                }
            });
            $(document).on('click', '.submit-button', function () {
                $(this).button('loading');
            });
            //placeholder
            $('input, textarea').placeholder();

            //custom start up code
            if (typeof startup == 'function')
                startup();
            //check cookies
            if (!navigator.cookieEnabled) {
                $('#cookieWarning').removeClass('hidden-content');
            }
        });
    </script>
</body>
</html>
