<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="@Url.Content("~/favicon.ico")" rel="Icon" />
    <title>DLLR EARN - @ViewBag.Title</title>
    @Styles.Render("~/Styles/css")
    <!--Custom page CSS goes here-->
    @RenderSection("pageCSS", required: false)
</head>
<body lang="en">
    <div class="wrapper">
        <!--nav bar-->
        @Html.Partial("Navigation")
        <!--Page content-->
        <div class="container" id="pageContent">
            <!--Logo-->
            @*<img src="@Url.Content("~/Content/images/MSGIC-logo.jpg")" class="site-logo" />*@
            <!--Header-->
            <header class="page-header">
                @RenderSection("header", required: false)
            </header>
            <section>
                @*@Html.Partial("messagePartial") *@
                @RenderBody()
            </section>
        </div>
        <div class="push">
        </div>
    </div>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row text-center">
                @*@RenderSection("footer", required: false)*@    
                Footer content
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jsLibs")
    @RenderSection("scripts", required: false)
    <!--Start up code-->
    <script type="text/javascript">
        $(function () {           
            //custom start up code
            if (typeof startup == 'function')
                startup();
        });
    </script>
</body>
</html>
