@using ESRGC.DLLR.EARN.Domain.Model
@using PagedList
@using PagedList.Mvc
@model List<Comment>
@{
    var currentProfile = ViewBag.currentProfile as Profile;
    var returnUrl = ViewBag.returnUrl as string;
    var comments = Model;
    var commentCount = ViewBag.commentCount as int? ?? 0;
    var remain = commentCount - comments.Count();
    var nextCount = remain >= 10 ? 10 : remain;
        
    var loadMoreUrl = ViewBag.loadMoreUrl as string;
}
<h4><i class="fa fa-comments"></i>&nbsp;Comments <small>(@commentCount)</small></h4>
@if (commentCount > Model.Count()) { 
    <div class="panel-action-center">
        <a id="loadMoreComments" href="@loadMoreUrl">View @nextCount more comments</a>
    </div>
}
@foreach (var i in comments) {        
    <form action="@Url.Action("DeleteComment", "Communication")" method="post">
        <input type="hidden" value="@i.CommentID" name="commentID" />
        <input type="hidden" value="@returnUrl" name="returnUrl" />
        <section class="transparent-placeholder-panel" id="comment-@i.AuthorID-@i.Created">
            <div class="post">
                <h5>
                    <i class="fa fa-comment"></i>
                   <a href="@Url.Action("ViewProfile", "Profile", new { i.Author.ProfileID, returnUrl = loadMoreUrl })">@i.Author.Organization.Name</a> <small>says</small>
                    <small class="pull-right">@Html.TimeSpan(i.Created)</small>
                </h5>
                <p class="">
                    @i.Content
                </p>
                @if (i.AuthorID == currentProfile.ProfileID) { 
                    <div class="btn-group pull-right">
                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                    </div>
                    <div class="clear"></div>
                }

            </div>
        </section>
    </form>
}
