<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("index", "Home")">EARN MD</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="#"><i class="icon-search"></i> Search</a></li>
                <li><a href="#"><i class="icon-coffee"></i> Partnerships</a></li>
                                
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i> More
                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-cloud"></i> Resources</a></li>
                        <li><a href="#"><i class="icon-envelope"></i> Contact Us</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            @* <form class="navbar-form navbar-left" role="search" action="">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search"/>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>*@
            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated) { 
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> @User.Identity.Name
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","Profile")">Profile</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li><a href="@Url.Action("SignOut", "Account")" title="Sign out"><i class="icon-signout"></i></a></li>
                    
                }
                else {
                    if (ViewBag.showSignin == true) {
                    <li>
                        <div class="navbar-form">
                            @Html.Partial("inlineSignin")
                        </div>
                    </li>
                    <li></li>
                        
                    }
                }

            </ul>
        </div>
    </div>
    <!-- /.navbar-collapse -->
</nav>
