@using ESRGC.DLLR.EARN.Domain.Model
@model Profile
<address>
    @Model.Contact.NameTitle
    <strong>@Model.Contact.FirstName @Model.Contact.Middle @Model.Contact.LastName</strong>
    @Model.Contact.NameExtension
    <br />
    @Model.Organization.StreetAddress
    <br />
    @if (Model.Organization.Department != null) {
        <small>
            <abbr title="Department">Dept:</abbr>&nbsp;@Model.Organization.Department</small> <br />
    }
    @if (Model.Organization.Building != null) {
        <small>
            <abbr title="Building">Bld:</abbr>&nbsp;@Model.Organization.Building</small><br />
    }
    @Model.Organization.City, @Model.Organization.State @Model.Organization.Zip<br />
    <abbr title="Phone">P:</abbr>
    @Model.Contact.Phone<br />
    <a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a>
</address>
<div>
    @if (Model.LocationVerified()) {
        <span class="label label-success" title="Address located"><i class="fa fa-check-circle fa-lg"></i>&nbsp;Address verified</span>
    }
    else {
        <span class="label label-danger"
            title="Address not located. You can change address by editing your organization address">
            <i class="fa fa-times-circle fa-lg"></i>&nbsp;Address not verified
        </span>
    }
</div>
