@using ESRGC.DLLR.EARN.Domain.Model
@model Contact
@if (Model != null) { 
  <address>
    <i class="fa fa-user"></i>
    @Model.NameTitle
    <strong>@Model.FirstName @Model.Middle @Model.LastName</strong>
    @Model.NameExtension
    <br />
    @*<i class="fa fa-location-arrow" title="Street address"></i>&nbsp;@Model.Organization.StreetAddress
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;@Model.Organization.City, @Model.Organization.State @Model.Organization.Zip
    <br />
    @if (Model.Organization.Building != null) {
        <i class="fa fa-building-o" title="Building"></i><span>&nbsp;@Model.Organization.Building</span>
    }
    @if (Model.Organization.Department != null) {
        if (Model.Organization.Department.Length > 15) { 
            <br />
        }
        else{
            <text>&nbsp;&nbsp;</text>
        }
        <span><abbr title="Department">Dept:</abbr>&nbsp;@Model.Organization.Department</span> <br />
    }*@
    <i class="fa fa-phone" title="Phone"></i>&nbsp;@Model.Phone<br />
    <i class="fa fa-envelope-o" title="Email"></i>&nbsp;<a href="mailto:@Model.Email">@Model.Email</a>
  </address>

}
else{
  <div class="alert alert-warning">
    <strong>Contact Not Found!</strong><br />
    <p>
      Your contact hasn't been created. Please <a href="@Url.Action("Create", "Contact")">click here</a> to create.
    </p>
  </div>
}
