@model IEnumerable<string>
@{
    var filters = (ViewBag.filters as Dictionary<string, object>) ?? new Dictionary<string, object>();
    var currentTags = filters.ContainsKey("tags") ? filters["tags"] as List<string> : new List<string>();
}
@if (Model != null) {
    if (Model.Count() == 0) { 
        <p>There are currently no tags available.</p>
    }
    if (currentTags == null) {
    <div class="inline-container tag-list">
        @foreach (var i in Model) { 
            <div class="tag">
                <a href="@Url.AddSearchFilter("Basic", "search", filters, "tags", i)"><span class="label label-default">@i</span></a>
            </div>
        }
    </div>
    <div class="clear"></div>
    }
    else {
    <div class="inline-container tag-list">
        @foreach (var i in Model) {
            if (currentTags.Contains(i)) {
            <div class="tag matched-tag">
                <span class="label label-default">@i</span>
            </div>
            }
            else {
            <div class="tag">
                <a href="@Url.AddSearchFilter("Basic", "search", filters, "tags", i)"><span class="label label-default">@i</span></a>
            </div>
            }
        }
    </div>
    <div class="clear"></div>
    }
}
