@using ESRGC.DLLR.EARN.Models
@model CreateProfile
@{
    ViewBag.Title = "User Profile";
    ViewBag.Header = "Create profile";
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval-unobtrusive")
    <script type="text/javascript">
        $(function () {
            $(document).on('click', 'input[type="radio"]', function (e) {
                var id = $(this).val()
                $('#categoryOptions').load('subcategoryDropdown', { usergroupId: id });
                $('#categoryOptions').removeAttr('disabled');
            });
        })
    </script>
}
@section header {
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="fa  fa-user"></i></h3>
            @*<ul class="breadcrumb">
                <li><a href="@Url.Action("index", "Home")">Home</a></li>
                <li class="active">@ViewBag.Header</li>
            </ul>*@
        </header>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="window-panel">
                <div class="window-panel-title">
                    <strong>Tell us about your organization</strong>
                </div>
                <div class="window-panel-content">
                    <form class="form-horizontal" action="@Url.Action("Create")" method="post" role="form">
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <legend>Group</legend>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <label class="control-label" for="UserGroupID">User group (select primary role)</label>
                                    <span class="label label-default">Required</span>
                                    @foreach (var i in Model.UserGroups) { 
                                        <div class="radio">
                                            <label>
                                                @Html.RadioButtonFor(x => x.UserGroupID, i.UserGroupID, new { })
                                                <span>@i.Name </span><small>- @i.Description</small>
                                            </label>
                                        </div>
                                    }
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.UserGroupID)</div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Organization</legend>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Organization.Name">Name</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(x => x.Organization.Name,
                                        new {
                                            @class = "form-control input-sm",
                                            placeholder = "Organization Name"
                                        }
                                    )
                                    <span class="label label-default">Required</span>
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Organization.Name)</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Organization.Address">Address</label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(x => x.Organization.StreetAddress, new { @class = "form-control input-sm", placeholder = "Street address" })
                                    <span class="label label-default">Required</span>
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Organization.StreetAddress)</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Organization.Building">Building/Suite</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.Organization.Building, new { @class = "form-control input-sm", placeholder = "Building" })
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Organization.Building)</div>
                                </div>

                                <label class="control-label col-sm-2" for="Organization.Department">Department</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.Organization.Department, new { @class = "form-control input-sm", placeholder = "Department" })
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Organization.Department)</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Organization.City">City/State/Zip</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(x => x.Organization.City, new { @class = "form-control input-sm", placeholder = "City" })
                                    <span class="label label-default">Required</span>
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Organization.City)</div>
                                </div>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(x => x.Organization.State, new {
                                   @class = "form-control input-sm",
                                   placeholder = "State",
                                   maxlength = "2"
                               })
                                    <span class="label label-default">Required</span>
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Organization.State)</div>
                                </div>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(x => x.Organization.Zip, new {
                                   @class = "form-control input-sm",
                                   placeholder = "Zip",
                                   maxlength = "5"
                               })
                                    <span class="label label-default">Required</span>
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Organization.Zip)</div>
                                </div>
                            </div>
                            @* <div class="form-group">
                                <label class="control-label col-sm-2" for="CategoryID">Category</label>
                                <div class="col-sm-6">*@
                            @*@Html.DropDownListFor(
                                        x => x.CategoryID,
                                        new SelectList(Model.Categories, "CategoryID", "Name"),
                                        "--select your category--",
                                        new { @class = "form-control col-sm-4" }
                                    )*@

                            @*<select 
                                        disabled 
                                        class="form-control input-sm" 
                                        data-val="true" 
                                        data-val-required="Please select one." 
                                        id="categoryOptions" 
                                        name="CategoryID">
                                        <option>Please select user group first</option>
                                    </select>
                                    <span class="label label-default">Required</span>
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.CategoryID)</div>
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Organization.Website">Website</label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(x => x.Organization.Website, new {
                                   @class = "form-control input-sm",
                                   placeholder = ModelMetadata.FromLambdaExpression(x => x.Organization.Website, ViewData).Description
                               }
                                    )
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Organization.Website)</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="">
                                    <i class="fa fa-twitter-square fa-lg"></i>
                                    <i class="fa fa-facebook-square fa-lg"></i>
                                    <i class="fa fa-linkedin-square fa-lg"></i>
                                </label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.Organization.TwitterLink, new {
                                   @class = "form-control input-sm",
                                   placeholder = "Twitter"
                               })
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Organization.TwitterLink)</div>
                                </div>

                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.Organization.FacebookLink, new {
                                   @class = "form-control input-sm",
                                   placeholder = "FaceBook"
                               })
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Organization.FacebookLink)</div>
                                </div>

                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.Organization.LinkedInLink, new {
                                   @class = "form-control input-sm",
                                   placeholder = "LinkedIn"
                               })
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Organization.LinkedInLink)</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Organization.Description">Description</label>
                                <div class="col-sm-9">
                                    @Html.TextAreaFor(x => x.Organization.Description, new {
                                   @class = "form-control input-sm",
                                   style = "min-height: 150px;",
                                   placeholder = ModelMetadata.FromLambdaExpression(x => x.Organization.Description, ViewData).Description
                               })
                                    <span class="label label-default">Required</span>
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Organization.Description)</div>
                                </div>
                            </div>

                        </fieldset>
                        <fieldset>
                            <legend>Point of Contact</legend>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Contact.FirstName">Name</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(x => x.Contact.FirstName, new { @class = "form-control input-sm", placeholder = "First name" })
                                    <span class="label label-default">Required</span>
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Contact.FirstName)</div>
                                </div>
                                @*<label class="control-label col-sm-2" for="Contact.Middle">Middle</label>*@
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(x => x.Contact.Middle, new { @class = "form-control input-sm", placeholder = "Middle" })
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Contact.Middle)</div>
                                </div>
                                @*<label class="control-label col-sm-2" for="Contact.LastName">Last name</label>*@
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(x => x.Contact.LastName, new { @class = "form-control input-sm", placeholder = "Last name" })
                                    <span class="label label-default">Required</span>
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Contact.LastName)</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Contact.Phone">Phone</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(x => x.Contact.Phone, new { @class = "form-control input-sm", placeholder = "Contact phone number" })
                                    <span class="label label-default">Required</span>
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Contact.Phone)</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Contact.Email">Email</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(x => x.Contact.Email,
                                        new {
                                            type = "email",
                                            @class = "form-control input-sm",
                                            placeholder = "someone@somedomain.com"
                                        })
                                    <span class="label label-default">Required</span>
                                    <div class="help-block">@Html.ValidationMessageFor(x => x.Contact.Email)</div>
                                </div>
                            </div>
                        </fieldset>
                        <hr />
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
