@using ESRGC.DLLR.EARN.Helpers
@using ESRGC.DLLR.EARN.Domain.Model
@model Profile

@{
    ViewBag.Title = "Profile";
    ViewBag.Header = "Organizational Profile";
}

@section header{
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="fa fa-briefcase"></i></h3>
            @*<ul class="breadcrumb">
                <li><a href="@Url.Action("index", "Home")">Home</a></li>
                <li class="active">@ViewBag.Header</li>
            </ul>*@
        </header>
    </div>
}
@{
    var returnUrl = Url.Action("Detail");
    ViewBag.returnUrl = returnUrl;
    var connectionCount = Model.Connections.Count();
    var partnershipCount = Model.PartnershipDetails.Count();
}
<div class="container">
    <!--Profile header-->
    <div class="text-right"><small>Last update @Html.TimeSpan(@Model.LastUpdate)</small></div>
    <div class="row">
        <div class="col-md-12">
            <div class="placeholder-panel">
                <div class="post">
                    <ul class="list-inline list-unstyled link-fa-container" id="socialNetworkLinks">
                        <li></li>
                        @if (Model.Organization.FacebookLink != "") { 
                            <li><a target="_blank" href="http://@Model.Organization.FacebookLink" title="Facebook link"><i class="fa fa-lg fa-facebook"></i></a></li>
                        }
                        @if (Model.Organization.TwitterLink != "") { 
                            <li><a target="_blank" href="http://@Model.Organization.TwitterLink" title="Twitter link"><i class="fa fa-lg fa-twitter"></i></a></li>
                        }
                        @if (Model.Organization.LinkedInLink != "") { 
                            <li><a target="_blank" href="http://@Model.Organization.LinkedInLink" title="LinkedIn link"><i class="fa fa-lg fa-linkedin"></i></a></li>
                        }
                    </ul>
                    <div class="inline-container profile-area">
                        <div class="profile-picture">
                            @if (Model.PictureID != null) { 
                                <div class="logo-container" >
                                    <a href="@Url.Action("UploadImage")">
                                        <img class="img-thumbnail" src="@Url.Action("ProfilePicture", new { pictureId = Model.PictureID })"/>
                                        <div class="upload-link">
                                            <span class="label label-default">Change logo</span>
                                        </div>
                                    </a>
                                </div>
                            }
                            else {
                                <div class="logo-container">
                                    <a href="@Url.Action("UploadImage")">
                                        <img class="img-thumbnail" src="@Url.Content("~/Client/images/empty_profile.gif")"/>
                                        <div class="upload-link">
                                            <span class="label label-default">Upload logo</span>
                                        </div>
                                    </a>
                                </div>
                            }
                            @* @if (Model.PictureID != null) { 
                                <div style="position: relative;">
                                    <a href="@Url.Action("UploadImage")">
                                        <img class="img-polaroid" src="@Url.Action("ProfilePicture", new { pictureId = Model.PictureID })"/>
                                        <span class="label" style="position: absolute; bottom: 5px; left: 5px;">Change logo</span>
                                    </a>
                                </div>
                            }
                            else {
                                <div style="position: relative;">
                                    <a title="Upload/Change profile picture" href="@Url.Action("UploadImage")">
                                        <img class="img-polaroid" src="@Url.Content("~/Client/images/empty_profile.gif")" alt="profile picture"/>
                                        <span class="label" style="position: absolute; bottom: 5px; left: 5px;">Upload logo</span>
                                    </a>
                                </div>
                            }*@
                        </div>
                        <div class="row profile-container">
                            <div class="col-md-10">
                                <div class="">
                                    <h4>
                                        <span>@Model.Organization.Name</span>
                                        <small><a class="link-icon" href="@Url.Action("Edit", "Organization")">
                                            <i class="fa fa-pencil"></i></a>
                                        </small>
                                        <br />
                                        <small>@Model.UserGroup.Name</small>
                                        @*-
                                        <small>@Model.Category.Name</small>*@
                                        <br />
                                        @if (Model.Organization.Website != null) { 
                                            <small>
                                                <a target="_blank" href="http://@Model.Organization.Website" title="Organization website">
                                                    @Model.Organization.Website
                                                </a>
                                            </small>
                                        }
                                    </h4>
                                    <p>@Model.Organization.Description</p>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!--Profile detail-->
    <div class="row">
        <div class="col-md-4">
            <div>
                <div class="window-panel">
                    <div class="window-panel-title">
                        Your tags <i class="fa fa-tags"></i>
                        <span class="pull-right">
                            <a class="link-icon" title="Edit" href="@Url.Action("ManageTag", "Tag")"><i class="fa fa-pencil"></i></a>
                        </span>
                    </div>
                    <div class="window-panel-content">
                        @Html.Partial("tagListLinkPartial", Model.getTagNames())
                    </div>
                </div>
            </div>
            <div>
                <div class="window-panel">
                    <div class="window-panel-title">
                        Point of Contact @*<i class="fa fa-envelope"></i>*@
                        <span class="pull-right">
                            <a class="link-icon" title="Edit" href="@Url.Action("Edit", "Contact")"><i class="fa fa-pencil"></i></a>
                        </span>
                    </div>
                    <div class="window-panel-content">
                        @Html.Partial("profileContactPartial")
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 profile-tabs">
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
                <li><a href="#connections" data-toggle="tab">Connections&nbsp;<span class="badge">@connectionCount</span></a></li>
                <li><a href="#partnerships" data-toggle="tab">Partnerships&nbsp;<span class="badge">@partnershipCount</span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="summary">
                    <div class="placeholder-pane">
                        <form action="@Url.Action("EditAbout")" method="post">
                            <h4>About</h4>
                            @Html.TextAreaFor(x => x.About, new {
                           @class = "form-control about",
                           placeholder = ModelMetadata.FromLambdaExpression(x => x.About, ViewData).Description
                       })
                            <div class="text-right">
                                <button type="submit" class="btn btn-info btn-xs"><i class="fa fa-save"></i>&nbsp;Save</button>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="connections">
                    <div class="placeholder-pane">
                        <div>
                            <h4>Your Connections</h4>
                            @if (Model.Connections.Count() == 0) { 
                                <p>
                                    There's currently no connection. Connections are 
                                    organizational profiles that help you keep track of who you might 
                                    be interested in inviting to your partnerships. 
                                </p>
                            }
                            @foreach (var p in Model.Connections) { 
                                @Html.Partial("shortProfilePartial", p)
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="partnerships">
                    <div class="placeholder-pane">
                        <span class="pull-right">
                            <a href="@Url.Action("Create", "Partnership")">
                                <i class="glyphicon glyphicon-link"></i>
                                &nbsp;Create new partnership
                            </a>
                        </span>
                        <h4>Available Partnerships</h4>
                        @if (Model.PartnershipDetails.Count() == 0) { 
                            <p>
                                There's currently no partnership available. Once you are a 
                                partner of any partnership, they will be listed here. 
                                Or you can create a new partnership. To do so, click on "Create new partnership" 
                                to form a new partnership. Note that you will be the owner of the partnership 
                                and will be able to control the partnership.
                            </p>
                        }
                        else {
                            @Html.Action("ListPartnerships", "Partnership", new { Model.ProfileID, returnUrl })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
