@using ESRGC.DLLR.EARN.Domain.Model
@using PagedList.Mvc;

@model PagedList.IPagedList<Profile>

@{
  ViewBag.Title = "Find";
  ViewBag.Header = "Organizations";
}

@section scripts{

}

@section header{
  <div class="container">
    <header class="page-header">
      <h4>@ViewBag.Header <i class="fa fa-building-o"></i></h4>
    </header>
  </div>
}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <p>
        Please search for the organization that you belong to, and request to join.
        Or, cancel and <a href="@Url.Action("Create", "Profile")">create a new profile</a>.
        <br />
        <small class="text-info">
          <u>Please note</u> that once you request to join, you will not be able to cancel the
            request until your request is processed by the profile owner. Additionally, once you become a member
          of a organization profile, you can not switch to another profile unless the original profile
            owner deletes the profile, then you can join another profile with your current account.
          
        </small>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal" method="post" action="@Url.Action("Find")">
        <div class="form-group">
          <div class="col-sm-8">
            <div class="input-group">
              <span class="input-group-addon" title="Organization"><i class="fa fa-search"></i></span>
              <input type="text" id="organization-name" class="form-control" placeholder="Enter organization name"
                name="name" />
              <span class="input-group-btn">
                <input type="submit" class="btn btn-default" value="Find" />
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="well">

        @Html.PagedListPager(Model,
            page => Url.Action("Find", new { page }),
            PagedListRenderOptions.MinimalWithPageCountText)
        @if (Model.Count() == 0) {
          <p class="text-center">There are currently no organization available or matched your search criteria.</p>
        }
        @foreach (var i in Model) { 
          <div class="overlay-container">
            <span class="overlay top-right">
              <a class="btn btn-sm btn-default" href="@Url.Action("JoinProfileRequest", "Communication", new { ProfileID = i.ProfileID })" >
                Join Request</a>
            </span>
            @Html.Partial("displayNoLinkProfilePartial", i)
          </div>
        }
        @Html.PagedListPager(Model,
            page => Url.Action("Find", new { page }),
            PagedListRenderOptions.MinimalWithPageCountText)
      </div>
    </div>
  </div>
</div>
