@using ESRGC.DLLR.EARN.Helpers
@model ESRGC.DLLR.EARN.Domain.Model.Profile

@{
    ViewBag.Title = "Profile";
    ViewBag.Header = "Profile";
}

@section header{
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="icon-large icon-briefcase"></i></h3>
            @*<ul class="breadcrumb">
                <li><a href="@Url.Action("index", "Home")">Home</a></li>
                <li class="active">@ViewBag.Header</li>
            </ul>*@
        </header>
    </div>
}

<div class="container">
    <!--Profile header-->
    <div class="text-right"><small>Last update @Html.TimeSpan(@Model.LastUpdate)</small></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <div class="post">
                    <div class="inline-container profile-area">
                        <div class="profile-picture">
                            @if (Model.PictureID != null) { 
                                <img class="img-thumbnail" src="@Url.Action("ProfilePicture", new { pictureId = Model.PictureID })"/>
                            }
                            else {
                                <img class="img-thumbnail" src="@Url.Content("~/Client/images/empty_profile.gif")"/>
                            }
                        </div>
                        <div class="row profile-container">
                            <div class="col-sm-6">
                                <div class="">
                                    <h4>
                                        <span>@Model.Organization.Name</span>
                                        <a class="btn btn-info btn-xs" href="http://@Model.Organization.Website" target="_blank" title="Organization website">
                                            <i class="icon-link"></i>
                                        </a>
                                        <br />
                                        <small>@Model.UserGroup.Name</small><br />
                                    </h4>
                                    <ul class="list-inline list-unstyled">
                                        <li><a target="_blank" href="http://@Model.Organization.FacebookLink"><i class="icon-large icon-facebook-sign"></i></a></li>
                                        <li><a target="_blank" href="http://@Model.Organization.TwitterLink"><i class="icon-large icon-twitter-sign"></i></a></li>
                                        <li><a target="_blank" href="http://@Model.Organization.LinkedInLink"><i class="icon-large icon-linkedin-sign"></i></a></li>
                                    </ul>
                                    <p>@Model.Industry.Name</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>                                    
                                    <label>
                                        Searchable tags <i class="icon-tags"></i> 
                                        <a class="btn btn-default btn-xs" href="@Url.Action("AddTag")">Add more</a>
                                    </label>
                                    <ul class="list-unstyled list-inline tag-list">
                                        @foreach (var i in Model.ProfileTags) { 
                                            <li>
                                                <span class="label label-default">
                                                    @i.Tag.Name
                                                    @*<button type="button" class="close" aria-hidden="true">&times;</button>*@
                                                </span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Profile detail-->
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
                <li><a href="#needs" data-toggle="tab">Needs</a></li>
                <li><a href="#contacts" data-toggle="tab">Contacts</a></li>
                <li><a href="#partnership" data-toggle="tab">Parnerships</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="summary">
                    <div class="placeholder">
                        <h4>Point of Contact</h4>
                        <div>
                            <address>
                                @Model.Contact.NameTitle
                                <strong>@Model.Contact.FirstName @Model.Contact.Middle @Model.Contact.LastName</strong>
                                @Model.Contact.NameExtension
                                <br />
                                @Model.Contact.StreetAddress <br/>
                                @*<abbr title="Department">Dept:</abbr>@Model.Contact.Department
                                <abbr title="Building">Bld:</abbr>@Model.Contact.Building<br />*@
                                @Model.Contact.City, @Model.Contact.State @Model.Contact.Zip<br />
                                <abbr title="Phone">P:</abbr>
                                @Html.DisplayPhoneText(Model.Contact.Phone)<br />
                                <a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="needs">
                    <div>
                        <h4>Needs</h4>
                    </div>
                </div>
                <div class="tab-pane" id="contacts">
                    <div>
                        <h4>Contacts</h4>
                    </div>
                </div>
                <div class="tab-pane" id="partnership">
                    <div>
                        <h4>Partnership is coming soon...</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
