@using ESRGC.DLLR.EARN.Helpers
@model ESRGC.DLLR.EARN.Domain.Model.Profile

@{
    ViewBag.Title = "Profile";
    ViewBag.Header = "Profile";
}

@section header{
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="icon-large icon-briefcase"></i></h3>
            @*<ul class="breadcrumb">
                <li><a href="@Url.Action("index", "Home")">Home</a></li>
                <li class="active">@ViewBag.Header</li>
            </ul>*@
        </header>
    </div>
}

<div class="container">
    <!--Profile header-->
    <div class="text-right"><small>Last update @Html.TimeSpan(@Model.LastUpdate)</small></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="placeholder-panel">
                <div class="post">
                    <div class="inline-container profile-area">
                        <div class="profile-picture">
                            @if (Model.PictureID != null) { 
                                <img class="img-thumbnail" src="@Url.Action("ProfilePicture", new { pictureId = Model.PictureID })"/>
                            }
                            else {
                                <img class="img-thumbnail" src="@Url.Content("~/Client/images/empty_profile.gif")"/>
                            }
                        </div>
                        <div class="row profile-container">
                            <div class="col-sm-6">
                                <div class="">
                                    
                                    <h4>
                                        <span>@Model.Organization.Name</span>
                                        <small><a class="link-icon" href="#"><i class="icon-pencil"></i></a></small>
                                        <br />
                                        <small>@Model.UserGroup.Name</small>
                                        -
                                        <small>@Model.Category.Name</small>
                                    </h4>
                                    <ul class="list-inline list-unstyled">
                                        <li><a target="_blank" href="http://@Model.Organization.Website" title="Organization website"><i class="icon-link"></i></a></li>
                                        <li><a target="_blank" href="http://@Model.Organization.FacebookLink" title="Facebook link"><i class="icon-large icon-facebook"></i></a></li>
                                        <li><a target="_blank" href="http://@Model.Organization.TwitterLink" title="Twitter link"><i class="icon-large icon-twitter"></i></a></li>
                                        <li><a target="_blank" href="http://@Model.Organization.LinkedInLink" title="LinkedIn link"><i class="icon-large icon-linkedin"></i></a></li>
                                    </ul>
                                    <p>@Model.Organization.Description</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="placeholder-panel" style="min-height: 200px;">
                                    <h4>Location map placeholder <small>(To be available)</small></h4>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!--Profile detail-->
    <div class="row">
        <div class="col-sm-4">
            <div>
                <div class="window-panel">
                    <div class="window-panel-title">
                        Your tags <i class="icon-tags"></i>
                        <span class="pull-right">
                            <a class="link-icon" title="Edit" href="@Url.Action("ManageTag")"><i class="icon-pencil"></i></a>
                        </span>
                    </div>
                    <div class="window-panel-content">
                        @Html.Partial("tagListDisplayPartial", Model.ProfileTags.Select(x => x.Tag).ToList())
                    </div>
                </div>
            </div>
            <div>
                <div class="window-panel">
                    <div class="window-panel-title">
                        Contact <i class="icon-envelope"></i>
                        <span class="pull-right">
                            <a class="link-icon" title="Edit" href="#"><i class="icon-pencil"></i></a>
                        </span>
                    </div>
                    <div class="window-panel-content">
                        <address>
                            @Model.Contact.NameTitle
                            <strong>@Model.Contact.FirstName @Model.Contact.Middle @Model.Contact.LastName</strong>
                            @Model.Contact.NameExtension
                            <br />
                            @Model.Organization.StreetAddress
                            <br />
                            @if (Model.Organization.Department != null) {
                                <abbr title="Department">Dept:</abbr>@Model.Organization.Department <br />
                            }
                            @if (Model.Organization.Building != null) {
                                <abbr title="Building">Bld:</abbr>@Model.Organization.Building<br />
                            }
                            @Model.Organization.City, @Model.Organization.State @Model.Organization.Zip<br />
                            <abbr title="Phone">P:</abbr>
                            @Html.DisplayPhoneText(Model.Contact.Phone)<br />
                            <a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 profile-tabs">
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
                <li><a href="#needs" data-toggle="tab">Our needs</a></li>
                <li><a href="#contacts" data-toggle="tab">Contacts</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="summary">
                    <div class="placeholder">
                        <form action="@Url.Action("EditAbout")" method="post">
                            <h4>About</h4>
                            @Html.TextAreaFor(x => x.About, new {
                               @class = "form-control about",
                               placeholder = ModelMetadata.FromLambdaExpression(x => x.About, ViewData).Description
                            })
                            <div class="text-right">
                                <button type="submit" class="btn btn-info btn-xs"><i class="icon-save"></i>&nbsp;Save</button>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="needs">
                    <div class="placeholder">
                        <h4>Needs is coming soon...</h4>
                    </div>
                </div>
                <div class="tab-pane" id="contacts">
                    <div class="placeholder">
                        <div>
                            <h4>Contacts is coming soon...</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
