@using ESRGC.DLLR.EARN.Helpers
@model ESRGC.DLLR.EARN.Domain.Model.Profile

@{
    ViewBag.Title = "View Profile";
    ViewBag.Header = "Profile";
}

@section header{
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="icon-large icon-briefcase"></i></h3>
            @*<ul class="breadcrumb">
                <li><a href="@Url.Action("index", "Home")">Home</a></li>
                <li class="active">@ViewBag.Header</li>
            </ul>*@
        </header>
    </div>
}

@{
    var returnUrl = ViewBag.returnUrl as string ?? Url.Action("Basic", "Search");    
}

<div class="container">
    <!--Profile header-->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-action">
                <div class="pull-left panel-action-default">
                    <a href="@returnUrl"><i class="icon-long-arrow-left"></i>&nbsp;Back to search</a>
                </div>
                <div class="pull-right panel-action-default">
                    @Html.Partial("profileActionPartial")
                </div>
                <div class="clear"></div>
            </div>
            <div class="placeholder-panel">
                <div class="post">
                    <ul class="list-inline list-unstyled link-icon-container" id="socialNetworkLinks">
                        <li><a target="_blank" href="http://@Model.Organization.FacebookLink" title="Facebook link"><i class="icon-large icon-facebook"></i></a></li>
                        <li><a target="_blank" href="http://@Model.Organization.TwitterLink" title="Twitter link"><i class="icon-large icon-twitter"></i></a></li>
                        <li><a target="_blank" href="http://@Model.Organization.LinkedInLink" title="LinkedIn link"><i class="icon-large icon-linkedin"></i></a></li>
                    </ul>
                    <div class="inline-container profile-area">
                        <div class="profile-picture">
                            @if (Model.PictureID != null) { 
                                <img class="img-thumbnail" src="@Url.Action("ProfilePicture", new { pictureId = Model.PictureID })"/>
                            }
                            else {
                                <img class="img-thumbnail" src="@Url.Content("~/Client/images/empty_profile.gif")"/>
                            }
                        </div>
                        <div class="row profile-container">
                            <div class="col-sm-10">
                                <div class="">
                                    <h4>
                                        <span>@Model.Organization.Name</span>
                                        <br />
                                        <small>@Model.UserGroup.Name</small>
                                        @*-
                                        <small>@Model.Category.Name</small>*@
                                        <br />
                                        <small><a target="_blank" href="http://@Model.Organization.Website" title="Organization website">@Model.Organization.Website</a></small>
                                    </h4>
                                    <p>@Model.Organization.Description</p>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!--Profile detail-->
    <div class="row">
        <div class="col-sm-4">
            <div>
                <div class="window-panel">
                    <div class="window-panel-title">
                        Searchable tags <i class="icon-tags"></i>
                    </div>
                    <div class="window-panel-content">
                        @Html.Partial("tagListDisplayPartial", Html.getTagListString(Model))
                    </div>
                </div>
            </div>
            <div>
                <div class="window-panel">
                    <div class="window-panel-title">
                        Contact <i class="icon-envelope"></i>
                    </div>
                    <div class="window-panel-content">
                        @Html.Partial("profileContactPartial")
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 profile-tabs">
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab1" data-toggle="tab">Summary</a></li>
                <li><a href="#tab2" data-toggle="tab">Partnerships</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="placeholder">
                        <h4>About</h4>
                        <p>@Model.About</p>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="placeholder">
                        <h4>Partnership is coming soon...</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
