@using ESRGC.DLLR.EARN.Domain.Model
@model Profile

@{
    ViewBag.Title = "View Profile";
    ViewBag.Header = "Profile";
}

@section header{
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="fa fa-briefcase"></i></h3>
            @*<ul class="breadcrumb">
                <li><a href="@Url.Action("index", "Home")">Home</a></li>
                <li class="active">@ViewBag.Header</li>
            </ul>*@
        </header>
    </div>
}

@{
    var returnUrl = ViewBag.returnUrl as string ?? Url.Action("Basic", "Search");
    ViewBag.returnUrl = Url.Action("ViewProfile", new { Model.ProfileID, returnUrl });
    var currentProfile = ViewBag.currentProfile as Profile ?? new Profile();
}

<div class="container">
    <!--Profile header-->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-action">
                <div class="pull-left panel-action-default">
                    <a href="@returnUrl"><i class="fa fa-long-arrow-left"></i>&nbsp;Back to previous</a>
                </div>
                @*@if (!(currentProfile.ProfileID == Model.ProfileID)) { 
                    <div class="pull-right panel-action-default">
                        @Html.Partial("profileActionPartial")
                    </div>
                }*@
                <div class="clear"></div>
            </div>
            <div class="placeholder-panel">
                <div class="post">                    
                    <div class="inline-container profile-area">
                        @Html.Partial("profileImagePartial", Model)
                        <div class="row profile-container">
                            <div class="col-md-12">
                                <div class="">
                                    <h4>
                                        <span>@Model.Organization.Name</span>
                                        <br />
                                        <small>@Model.UserGroup.Name</small>
                                        @*-
                                        <small>@Model.Category.Name</small>*@
                                        <br />
                                        @if (Model.Organization.Website != null) { 
                                            <small>
                                                <a target="_blank" href="@Model.Organization.Website.ToAbsoluteUrl("http://")" title="Organization website">
                                                    @Model.Organization.Website.RemoveProtocol()
                                                </a>
                                            </small>
                                        }
                                    </h4>


                                    <p>@Model.Organization.Description</p>
                                    <h5>Searchable tags <i class="fa fa-tags"></i>
                                    </h5>
                                    <div class="placeholder-panel">
                                        @Html.Partial("tagListLinkPartial", Model.getTagNames())
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>                    
                    <div class="clear"></div>
                    @Html.Partial("socialNetworkPartial", Model)
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!--Profile detail-->
    <div class="row">
        <div class="col-md-4">
            <div class="profile-info-container">
                <div class="placeholder-panel">
                    <div>
                        <strong>Point of Contact</strong> @*<i class="fa fa-envelope"></i>*@
                    </div>
                    <div class="post">
                        @Html.Partial("profileContactPartial")
                    </div>
                </div>
                <div class="placeholder-panel">
                    <div>
                        <strong>Location</strong> @*<i class="fa fa-envelope"></i>*@
                    </div>
                    <div class="post">
                        <div>@Html.Partial("locationInfoPartial", Model)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 profile-info-container">
            <div class="placeholder-panel">
                <strong>Profile Summary</strong>
                <div class="post">
                    @if (!string.IsNullOrEmpty(Model.About)) { 
                        <p>@Model.About</p>
                    }
                    else {
                        <p>Sorry! We have not filled this out...</p>
                    }
                </div>
            </div>
            <div class="placeholder-panel">
                <strong>Partnerships</strong>
                <div class="post">
                    @if (Model.PartnershipDetails.Count() == 0) { 
                        <p>This organization currently has no partnership.</p>
                    }
                    else {
                        @Html.Action("ListPartnerships", "Partnership", new { Model.ProfileID })
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-12">
                @*<ul class="nav nav-tabs ">
                <li class="active"><a href="#tab1" data-toggle="tab">Profile Summary</a></li>
                <li><a href="#tab2" data-toggle="tab">Partnerships&nbsp;<span class="badge">@Model.PartnershipDetails.Count()</span></a></li>
            </ul>
            <div class="tab-content">*@
                @*<div class="tab-pane active" id="tab1">
                    
                </div>
                <div class="tab-pane" id="tab2">*@

                @*</div>*@
                @*</div>*@
            </div>
        </div>
    </div>
