@using ESRGC.DLLR.EARN.Domain.Model;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Profile>
@{
  ViewBag.Title = "Search";
  ViewBag.Header = "Profile search";
}

@section header {
  <div class="container">
    <div class="page-header">
      <h3>@ViewBag.Header <i class="fa fa-search"></i></h3>
    </div>
  </div>
}
@section headContent {
  @*links for leaflet library*@
  <link rel="stylesheet" href="@Url.Content("~/Client/jsLib/leaflet-0.7.2/leaflet.css")" />
  <!--[if lte IE 8]> 
        <link rel="stylesheet" href="@Url.Content("~/Client/jsLib/leaflet-0.6.4/leaflet.ie.css")">
    <![endif]-->
  <link rel="stylesheet" href="~/Client/jsLib/leaflet.awesome-markers/leaflet.awesome-markers.css" />
  <script src="@Url.Content("~/Client/jsLib/leaflet-0.7.2/leaflet.js")" type="text/javascript"></script>
  <script src="@Url.Content("~/Client/jsLib/leaflet.awesome-markers/leaflet.awesome-markers.js")"></script>
}
@section scripts {
  @Scripts.Render("~/bundles/js/customLibs", "~/bundles/js/map", "~/bundles/apps/search")
}
@{
  var filters = (ViewBag.filters as Dictionary<string, object>) ?? new Dictionary<string, object>();
  var currentTags = filters.ContainsKey("tags") ? filters["tags"] as List<string> : new List<string>();
  var currentProfile = ViewBag.currentProfile as Profile ?? new Profile();
  var organizationTypes = ViewBag.orgTypes as List<UserGroup> ?? new List<UserGroup>();
  var currentOrgType = filters.Keys.Contains("userGroupID") ? filters["userGroupID"] as int? : null;
  var nameFilter = filters.Keys.Contains("name") ? filters["name"] as string : "";
  var isAdmin = (ViewBag.currentAccount as Account).Role.ToLower() == "admin";
}
<div class="container" id="basicSearchPage">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Organizations</strong>
          @*<small class="pull-right"><a href="#" title="To be available">Advanced search</a></small>*@
          @if (isAdmin) { 
            <div class="pull-right" id="taskDropdown">
              <div class="dropdown">
                <button class="btn btn-default btn-xs dropdown-toggle" title="Admin only" type="button" id="dropdownMenu1"
                  data-toggle="dropdown">
                  <i class="fa fa-lock"></i>&nbsp;Tasks
              <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="@ViewBag.messageLink">
                      <i class="fa fa-envelope"></i>&nbsp;Message to Search Results
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          }
          <div class="clear"></div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="help-block"><span id="statusText" class="text-warning text-center"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-5">
              <div class="">
                <form class="form-horizontal" action="@Url.Action("Basic")" method="get" id="search">
                  <div class="form-group">
                    <div class="col-sm-12" id="nameFilter">
                      <input class="form-control" id="name" name="name" type="text" placeholder="Name" value="@nameFilter"
                        title="Organization Name"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <div class="input-group">
                        <span class="input-group-addon" title="Organization Types"><i class="fa fa-building-o"></i></span>
                        @Html.DropDownList(
                          "userGroupID",
                          new SelectList(organizationTypes, "UserGroupID", "Name", currentOrgType),
                          "Any",
                          new { @class = "form-control", id = "orgType" })
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <div class="input-group">
                        <span class="input-group-addon" title="Tags"><i class="fa fa-tag"></i></span>
                        <input id="tagInput" name="tags"
                          class="form-control"
                          type="text"
                          placeholder="e.g. MS Office, computer skills, etc." />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary btn-block" data-loading-text="Searching...">Go</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <div class="post tag-list-holder" id="keywords">
                        <a id="clearSearchLink" class="link-icon pull-right" href="@Url.Action("Basic")">
                          Clear <i class="fa fa-times"></i>
                        </a>
                        <div class="inline-container tag-list">
                          @foreach (var i in currentTags) { 
                            <div class="tag matched-tag">
                              <span class="label label-default">
                                @i&nbsp;
                                <a data-value="@i" 
                                    href="@Url.RemoveSearchFilter("Basic", filters, "tags", i)">
                                  <i class="fa fa-times"></i>
                                </a>
                              </span>
                            </div>
                          }
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>

                  <div id="hiddenInputHolder">
                    @foreach (var i in currentTags) { 
                      <input type="hidden" value="@i" name="tags" />
                    }
                  </div>
                </form>

                <div class="text-info transparent-placeholder-panel">
                  <strong>Tips!</strong>&nbsp;
                  <small>Enter tags to focus search results to the organizations that best match your needs and interests.</small>
                  <small>Common tags include <strong>job sector titles</strong>
                    and any <strong>education, training, certifications</strong> or <strong>skills requirements</strong>
                    or <strong>offerings</strong>.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-sm-7">
              <div class="placeholder-panel">
                @*<div class="map-overlay-for-demo">
                                    <h2>Map will be coming soon..</h2>
                                </div>*@
                <div class="map" id="map"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default" id="searchResult">
        <div class="panel-body">
          @Html.Partial("searchProfilePartial", currentProfile)
          @if (Model.PageCount > 1) {
            @Html.PagedListPager(
                        Model,
                        page => Url.AddSearchFilter("Basic", filters, "page", page.ToString()),
                        PagedListRenderOptions.OnlyShowFivePagesAtATime
                    )}
          @if (Model.Count() == 0) { 
            <div class="panel-action center">
              <span>No result. Please try again!</span>
            </div>
          }
          @foreach (var profile in Model) {
            @Html.Partial("searchProfilePartial", profile)
          }
          @if (Model.PageCount > 1) {
            @Html.PagedListPager(
                        Model,
                        page => Url.AddSearchFilter("Basic", filters, "page", page.ToString()),
                        PagedListRenderOptions.OnlyShowFivePagesAtATime
                    )}
        </div>
      </div>

    </div>
  </div>
</div>
