@using ESRGC.DLLR.EARN.Domain.Model;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Profile>
@{
    ViewBag.Title = "Index";
    ViewBag.Header = "Profile search";
}

@section header {
    <div class="container">
        <div class="page-header">
            <h3>@ViewBag.Header <i class="icon-search"></i></h3>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/apps/search")
}
@{
    var filters = (ViewBag.filters as Dictionary<string, object>) ?? new Dictionary<string, object>();
    var currentTags = filters.ContainsKey("tags") ? filters["tags"] as List<string> : new List<string>();
}
<div class="container" id="basicSearchPage">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic search 
                    <small class="pull-right"><a href="#" title="To be available">Advanced search</a></small>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="help-block"><span id="statusText" class="text-warning text-center"></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <form class="form-horizontal" action="@Url.Action("Index")" method="get">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-tag"></i></span>
                                            <input id="tagInput" name="tags"
                                                class="form-control"
                                                type="text"
                                                placeholder="Enter search tag (keyword)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            <i class="icon-refresh"></i>&nbsp;Go</button>
                                    </div>
                                </div>
                                @foreach (var i in currentTags) { 
                                    <input type="hidden" value="@i" name="tags" />
                                }
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <div class="post tag-list-holder" id="keywords">
                                <a class="link-icon pull-right" title="Clear search" href="@Url.Action("Index")"><i class="icon-remove"></i></a>
                                <label>Keywords</label>
                                <div class="inline-container tag-list">
                                    @foreach (var i in currentTags) { 
                                        <div class="tag matched-tag">
                                            <span class="label label-default">
                                                @i&nbsp;
                                                <a data-value="@i" 
                                                    href="@Url.RemoveSearchFilter("Index", filters, "tags", i)">
                                                    <i class="icon-remove"></i>
                                                </a>
                                            </span>
                                        </div>
                                    }
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default" id="searchResult">
                <div class="panel-body">
                    @if (Model.PageCount > 1) {
                        @Html.PagedListPager(
                        Model,
                        page => Url.AddSearchFilter("Index", filters, "page", page.ToString()),
                        PagedListRenderOptions.OnlyShowFivePagesAtATime
                    )}
                    @if (Model.Count() == 0) { 
                        <div class="panel-action-center">
                            <span>No result. Please try again!</span>
                        </div>
                    }
                    @foreach (var profile in Model) {
                        Html.RenderPartial("SearchProfilePartial", profile);
                    }
                    @if (Model.PageCount > 1) {
                        @Html.PagedListPager(
                        Model,
                        page => Url.AddSearchFilter("Index", filters, "page", page.ToString()),
                        PagedListRenderOptions.OnlyShowFivePagesAtATime
                    )}
                </div>
            </div>

        </div>
    </div>
</div>
