@using ESRGC.DLLR.EARN.Domain.Model
@model Profile
@{
    var filters = (ViewBag.filters as Dictionary<string, object>) ?? new Dictionary<string, object>();
    var currentTags = filters.ContainsKey("tags") ? filters["tags"] as List<string> : new List<string>();
    var geoTag = Model.getGeoTag();
    var location = geoTag == null ? "" : geoTag.Geometry.WellKnownValue.WellKnownText;
    var currentProfile = ViewBag.currentProfile as Profile ?? new Profile();
    var returnUrl = Url.GenerateLinkFromFilters("Basic", filters);
    ViewBag.returnUrl = returnUrl;
}
@if (currentProfile.ProfileID != Model.ProfileID) {
    <section id="result-@Model.ProfileID"  class="profile-section"
        data-location="@location" 
        data-organization="@Model.Organization.Name"
        data-profileUrl = "@Url.Action("ViewProfile", "Profile", new { Model.ProfileID, returnUrl = Url.GenerateLinkFromFilters("Basic", filters) })">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="placeholder-panel">
                    <div class="post">
                        <div class="inline-container profile-area">
                            <div class="profile-picture">
                                @if (Model.PictureID != null) { 
                                    <img class="img-thumbnail" src="@Url.Action("ProfilePicture", new { pictureId = Model.PictureID })"/>
                                }
                                else {
                                    <img class="img-thumbnail" src="@Url.Content("~/Client/images/empty_profile.gif")"/>
                                }
                                @if (Model.ProfileID != currentProfile.ProfileID) {
                                    <div class="panel-action-default">
                                        @Html.Partial("profileActionPartial")
                                    </div>
                                }
                            </div>
                            <div class="row profile-container">
                                <div class="col-sm-8">
                                    <div class="">
                                        <h4>
                                            <span>
                                                <a title="View this profile" href="@Url.Action("ViewProfile", "Profile", new { Model.ProfileID, returnUrl })">
                                                    @Model.Organization.Name
                                                </a>
                                            </span>
                                            <br />
                                            <small>@Model.UserGroup.Name</small>
                                            @*-
                                    <small>@Model.Category.Name</small>*@
                                            <br />
                                            <small>
                                                <a target="_blank" href="@Model.Organization.Website.ToAbsoluteUrl("http://")" title="Organization website">
                                                    @Model.Organization.Website.RemoveProtocol()
                                                </a>
                                            </small>
                                        </h4>
                                        <ul class="list-inline list-unstyled">
                                            <li></li>
                                            @if (Model.Organization.FacebookLink != "") { 
                                                <li><a target="_blank" href="@Model.Organization.FacebookLink.ToAbsoluteUrl("http://")" title="Facebook link"><i class="fa fa-lg fa-facebook"></i></a></li>
                                            }
                                            @if (Model.Organization.TwitterLink != "") { 
                                                <li><a target="_blank" href="@Model.Organization.TwitterLink.ToAbsoluteUrl("http://")" title="Twitter link"><i class="fa fa-lg fa-twitter"></i></a></li>
                                            }
                                            @if (Model.Organization.LinkedInLink != "") { 
                                                <li><a target="_blank" href="@Model.Organization.LinkedInLink.ToAbsoluteUrl("http://")" title="LinkedIn link"><i class="fa fa-lg fa-linkedin"></i></a></li>
                                            }
                                        </ul>

                                        @if (Model.Organization.Description.Length > 200) { 
                                            <p>
                                                @Model.Organization.Description.Substring(0, 200)
                                                ...<a href="@Url.Action("ViewProfile", "Profile", new { Model.ProfileID, returnUrl })">
                                            read more
                                                </a>
                                            </p>
                                        }
                                        else {
                                            <p>@Model.Organization.Description</p>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="help-block"><i class="fa fa-tags"></i>&nbsp;Tags</div>
                                    @if (Model.ProfileTags != null) {
                                        @Html.Partial("tagListLinkPartial", Model.getTagNames())
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else {
    <!--Own profile-->
    <div id="ownProfile" class="profile-section"
        data-location="@location" 
        data-organization="@Model.Organization.Name"
        data-profileUrl = "@Url.Action("ViewProfile", "Profile", new { Model.ProfileID, returnUrl = Url.GenerateLinkFromFilters("Basic", filters) })">
    </div>
}